<!-- create_user.html -->

{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block title %}Create User{% endblock %}

{% block content %}
    <div class="grid-container" style="margin-bottom: 20px;">
        <div class="form-container" id="user-form-container"> <!-- Added custom ID -->
            <h1>Create account</h1>
    
            <form method="POST" enctype="multipart/form-data" action="{% url 'user:create_user' %}" id="create-user-form"> <!-- Added custom ID -->
                {% csrf_token %}
                {{ form|crispy }}
                <button class="button primary" type="submit" id="create">Create Account</button> <!-- Added custom ID -->
                <a href="{% url 'user:login' %}" id="cancel-link">Cancel</a> <!-- Added custom ID -->
            </form>
        </div>
        <br/>
    </div>
{% endblock content %}