{% extends 'base.html' %}

{% load static %}

{% block title %}Equipment Detail{% endblock %}

{% block content %}

<section class="equipment-detail">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <!-- Main Image and Image Slider -->
      <div class="cell medium-8 large-8">
        <div class="main-image">
          <img src="{{ equipment.images.first.image_url }}" alt="Equipment Image" id="mainImage" class="responsive-img">
        </div>
        <div class="zoom-overlay" id="zoomOverlay"></div>



        <div class="image-slider">

          <button class="slider-button prev" id="prevButton">&#10094;</button>
          <button class="slider-button next" id="nextButton">&#10095;</button>

          <div class="image-thumbnails">
            <ul class="thumbnail-list" id="thumbnailList">
              {% for image in equipment.images.all %}
              <li>
                <img src="{{ image.image_url }}" alt="Equipment Image" class="images"
                  data-large="{{ image.image_url }}">
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="tags">
            {% for tag in equipment.tags.all %}
            <span class="tag">{{ tag }}</span>

            {% endfor %}
            <!-- Add more tags as needed -->
          </div>
        </div>
      </div>

      <!-- Equipment Details -->
      <div class="cell medium-4 large-4">
        <h1 class="product-name">{{ equipment.name }}</h1>
        <div class="rating-reviews">
          <span class="rating">★★★★☆</span> <!-- Example rating -->
          <span class="reviews">({{ equipment.reviews.count}} Reviews)</span>
        </div>
        <p class="price">${{ equipment.hourly_rate }}/Hour</p>

        <!-- <div class="equipment-options">
          <h4>Equipment Options:</h4>
          <label for="fuel-type">Fuel Type:</label>
          <select id="fuel-type">
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
          </select>
        </div> -->

        <div class="booking-form">
          <form action="{% url 'add-to-cart' equipment.slug equipment.id %}" method="POST">
            {% csrf_token %}
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start_date" required>

            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end_date" required>

            <label for="quantity">Number of Equipments:</label>
            <input type="number" id="quantity" name="quantity" min="1" value="1" required>

            <button type="submit" class="button add-to-cart">Add to Cart</button>
          </form>
        </div>

      </div>
    </div>

    <!-- Tabs for Description, Specification, Terms, Reviews -->
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <ul class="tabs" data-tabs id="equipment-tabs">
          <li class="tabs-title is-active"><a href="#description">Description</a></li>
          <li class="tabs-title"><a href="#specification">Specification</a></li>
          <li class="tabs-title"><a href="#terms">Terms</a></li>
          <li class="tabs-title"><a href="#reviews">Reviews</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="equipment-tabs">
          <div class="tabs-panel is-active" id="description">
            <p>{{ equipment.description }}</p>
          </div>
          <div class="tabs-panel" id="specification">

            {% for spec in equipment.specifications.all %}
            <span> {{ spec }} </span>
            {% endfor %}
            <!-- Add more specifications as needed -->

          </div>
          <div class="tabs-panel" id="terms">
            <p>{{ equipment.terms}}</p>
          </div>
          <div class="tabs-panel" id="reviews">
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
              {% for review in reviews %}
              <div class="cell">
                <div class="card shadow-sm">
                  <div class="card-divider d-flex align-items-center">
                    <div>
                      <h5 class="mb-0">{{ review.user }}</h5>
                      <span class="text-warning">
                        {% for i in "12345" %}
                        <span class="star {% if forloop.counter <= review.rating %}filled{% endif %}">★</span>
                        {% endfor %}
                      </span>
                    </div>
                  </div>
                  <div class="card-section">
                    <p>{{ review.review_text }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <form method="POST">
              {% csrf_token %}
              <div class="star-rating mb-3">
                <input type="radio" id="star1" name="rating" value="5" required />
                <label for="star1">★</label>
                <input type="radio" id="star2" name="rating" value="4" />
                <label for="star2">★</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3">★</label>
                <input type="radio" id="star4" name="rating" value="2" />
                <label for="star4">★</label>
                <input type="radio" id="star5" name="rating" value="1" />
                <label for="star5">★</label>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="review_text" placeholder="Write your review..."
                  rows="3"></textarea>
              </div>
              <button type="submit" class="button">Submit</button>
            </form>
            {% else %}
            <p>Please <a style="font-size: 1rem; color: #ffc107;" href="{% url 'user:login' %}">log in</a> to submit a
              review.</p>
            {% endif %}

          </div>

        </div>
      </div>
    </div>



    {% endblock content %}