{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}EquiHub - Login{% endblock %}

{% block content %}
<!-- Login Form Container -->
<div id="user-form-container">
    <!-- Form Title -->
    <h2 id="form-title">Login to Your Account</h2>

    <!-- Login Form -->
    <form id="create-user-form" method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        
        <!-- Submit Button -->
        <button id="submit-button" class="button" type="submit">Login</button>
    </form>

    <!-- Registration Link -->
    <a id="cancel-link" href="{% url 'user:create_user' %}">Don't have an account? <span style="color: #1c1c1c; font-size: 1rem; font-weight: bold;">create account</span></a>
</div>
{% endblock content %}